---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
ColumnLimit: 110
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
FixNamespaceComments: true
IncludeBlocks: Preserve
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: false
